@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("fontawesome-all.min.css");

/*
	Personal Portfolio CSS
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		padding-top: 3.5em;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, textarea, select, button {
		font-family: 'Open Sans', sans-serif;
		line-height: 1.85em;
		color: #888;
		font-weight: 300;
		font-size: 13pt;
	}

	a {
		-moz-transition: color .2s ease-in-out;
		-webkit-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
		color: #43B3E0;
		text-decoration: underline;
	}

		a:hover {
			color: #43bff0 !important;
		}

		a img {
			border: 0;
			border-radius: 6px;
		}

	b, strong {
		font-weight: 600;
		color: #3e3e3e;
	}

	i, em {
		font-style: italic;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	blockquote {
		border-left: solid 0.75em #eee;
		padding: 1em 0 1em 1.5em;
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #3e3e3e;
		margin: 0 0 0.75em 0;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		text-decoration: none;
		color: inherit;
	}

	h2, h3, h4, h5, h6 {
		font-weight: 700;
	}

	h1 {
		font-size: 3.25em;
		letter-spacing: -0.025em;
		font-weight: 300;
	}

		h1 strong {
			font-weight: 700;
		}

	h2 {
		font-size: 2em;
		letter-spacing: -0.015em;
	}

	h3 {
		font-size: 1.5em;
		letter-spacing: -0.015em;
	}

	em, i {
		font-style: italic;
	}

	br.clear {
		clear: both;
	}

	hr {
		border: 0;
		border-top: solid 1px #444;
		border-top-color: rgba(0, 0, 0, 0.35);
		box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
		height: 1px;
		margin: 3em 0;
	}

	p, ul, ol, dl, table {
		margin-bottom: 2em;
	}

	header {
		margin: 0 0 3em 0;
		text-align: right;
	}

		header > p {
			font-size: 1.25em;
			margin: 0;
		}

	/* footer {
		/* margin: 2em 0 2em 0; */
	/* /* } */

		footer > p {
			font-size: 1.25em;
		}

/* Container */

	.container {
		margin: 0 auto;
		max-width: calc(100% - 50px);
		width: 1200px;
	}

		.container.medium {
			width: 900px;
		}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1200px;
			}

				.container.medium {
					width: 900px;
				}

		}

		@media screen and (max-width: 1280px) {

			.container {
				/* width: 960px; */
				width: 1200px;
			}

				.container.medium {
					/* width: 720px; */
					width: 900px;
				}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: 100%;
			}

				.container.medium {
					width: 75%;
				}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
				max-width: calc(100% - 30px);
			}

				.container.medium {
					width: 100%;
				}

		}

/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		justify-content: center;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row.aln-left {
			justify-content: flex-start;
		}

		.row.aln-center {
			justify-content: center;
		}

		.row.aln-right {
			justify-content: flex-end;
		}

		.row.aln-top {
			align-items: flex-start;
		}

		.row.aln-middle {
			align-items: center;
		}

		.row.aln-bottom {
			align-items: flex-end;
		}

		.row > .imp {
			order: -1;
		}

		.row > .col-1 {
			width: 8.33333%;
		}

		.row > .off-1 {
			margin-left: 8.33333%;
		}

		.row > .col-2 {
			width: 16.66667%;
		}

		.row > .off-2 {
			margin-left: 16.66667%;
		}

		.row > .col-3 {
			width: 25%;
		}

		.row > .off-3 {
			margin-left: 25%;
		}

		.row > .col-4 {
			position: relative;
			width: 33.33333%;
		}

		.row > .off-4 {
			margin-left: 33.33333%;
		}

		.row > .col-5 {
			width: 41.66667%;
		}

		.row > .off-5 {
			margin-left: 41.66667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .off-6 {
			margin-left: 50%;
		}

		.row > .col-7 {
			width: 58.33333%;
		}

		.row > .off-7 {
			margin-left: 58.33333%;
		}

		.row > .col-8 {
			width: 66.66667%;
		}

		.row > .off-8 {
			margin-left: 66.66667%;
		}

		.row > .col-9 {
			width: 75%;
		}

		.row > .off-9 {
			margin-left: 75%;
		}

		.row > .col-10 {
			width: 83.33333%;
		}

		.row > .off-10 {
			margin-left: 83.33333%;
		}

		.row > .col-11 {
			width: 91.66667%;
		}

		.row > .off-11 {
			margin-left: 91.66667%;
		}

		.row > .col-12 {
			width: 100%;
		}

		.row > .off-12 {
			margin-left: 100%;
		}

		.row > .col-13 {
			position: relative;
			width: 30%;
		}

		.row.gtr-0 {
			margin-top: 0px;
			margin-left: 0px;
		}

			.row.gtr-0 > * {
				padding: 0px 0 0 0px;
			}

			.row.gtr-0.gtr-uniform {
				margin-top: 0px;
			}

				.row.gtr-0.gtr-uniform > * {
					padding-top: 0px;
				}

		.row.gtr-25 {
			margin-top: -6.25px;
			margin-left: -6.25px;
		}

			.row.gtr-25 > * {
				padding: 6.25px 0 0 6.25px;
			}

			.row.gtr-25.gtr-uniform {
				margin-top: -6.25px;
			}

				.row.gtr-25.gtr-uniform > * {
					padding-top: 6.25px;
				}

		.row.gtr-50 {
			margin-top: -12.5px;
			margin-left: -12.5px;
		}

			.row.gtr-50 > * {
				padding: 12.5px 0 0 12.5px;
			}

			.row.gtr-50.gtr-uniform {
				margin-top: -12.5px;
			}

				.row.gtr-50.gtr-uniform > * {
					padding-top: 12.5px;
				}

		.row {
			margin-top: -25px;
			margin-left: -25px;
		}

			.row > * {
				padding: 25px 0 0 25px;
			}

			.row.gtr-uniform {
				margin-top: -25px;
			}

				.row.gtr-uniform > * {
					padding-top: 25px;
				}

		.row.gtr-150 {
			margin-top: -37.5px;
			margin-left: -37.5px;
		}

			.row.gtr-150 > * {
				padding: 37.5px 0 0 37.5px;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -37.5px;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 37.5px;
				}

		.row.gtr-200 {
			margin-top: -50px;
			margin-left: -50px;
		}

			.row.gtr-200 > * {
				padding: 50px 0 0 50px;
			}

			.row.gtr-200.gtr-uniform {
				margin-top: -50px;
			}

				.row.gtr-200.gtr-uniform > * {
					padding-top: 50px;
				}

		@media screen and (max-width: 1680px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xlarge {
					order: -1;
				}

				.row > .col-1-xlarge {
					width: 8.33333%;
				}

				.row > .off-1-xlarge {
					margin-left: 8.33333%;
				}

				.row > .col-2-xlarge {
					width: 16.66667%;
				}

				.row > .off-2-xlarge {
					margin-left: 16.66667%;
				}

				.row > .col-3-xlarge {
					width: 25%;
				}

				.row > .off-3-xlarge {
					margin-left: 25%;
				}

				.row > .col-4-xlarge {
					width: 33.33333%;
				}

				.row > .off-4-xlarge {
					margin-left: 33.33333%;
				}

				.row > .col-5-xlarge {
					width: 41.66667%;
				}

				.row > .off-5-xlarge {
					margin-left: 41.66667%;
				}

				.row > .col-6-xlarge {
					width: 50%;
				}

				.row > .off-6-xlarge {
					margin-left: 50%;
				}

				.row > .col-7-xlarge {
					width: 58.33333%;
				}

				.row > .off-7-xlarge {
					margin-left: 58.33333%;
				}

				.row > .col-8-xlarge {
					width: 66.66667%;
				}

				.row > .off-8-xlarge {
					margin-left: 66.66667%;
				}

				.row > .col-9-xlarge {
					width: 75%;
				}

				.row > .off-9-xlarge {
					margin-left: 75%;
				}

				.row > .col-10-xlarge {
					width: 83.33333%;
				}

				.row > .off-10-xlarge {
					margin-left: 83.33333%;
				}

				.row > .col-11-xlarge {
					width: 91.66667%;
				}

				.row > .off-11-xlarge {
					margin-left: 91.66667%;
				}

				.row > .col-12-xlarge {
					width: 100%;
				}

				.row > .off-12-xlarge {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row > * {
						padding: 25px 0 0 25px;
					}

					.row.gtr-uniform {
						margin-top: -25px;
					}

						.row.gtr-uniform > * {
							padding-top: 25px;
						}

				.row.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 1280px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-large {
					order: -1;
				}

				.row > .col-1-large {
					width: 8.33333%;
				}

				.row > .off-1-large {
					margin-left: 8.33333%;
				}

				.row > .col-2-large {
					width: 16.66667%;
				}

				.row > .off-2-large {
					margin-left: 16.66667%;
				}

				.row > .col-3-large {
					width: 25%;
				}

				.row > .off-3-large {
					margin-left: 25%;
				}

				.row > .col-4-large {
					width: 33.33333%;
				}

				.row > .off-4-large {
					margin-left: 33.33333%;
				}

				.row > .col-5-large {
					width: 41.66667%;
				}

				.row > .off-5-large {
					margin-left: 41.66667%;
				}

				.row > .col-6-large {
					width: 50%;
				}

				.row > .off-6-large {
					margin-left: 50%;
				}

				.row > .col-7-large {
					width: 58.33333%;
				}

				.row > .off-7-large {
					margin-left: 58.33333%;
				}

				.row > .col-8-large {
					width: 66.66667%;
				}

				.row > .off-8-large {
					margin-left: 66.66667%;
				}

				.row > .col-9-large {
					width: 75%;
				}

				.row > .off-9-large {
					margin-left: 75%;
				}

				.row > .col-10-large {
					width: 83.33333%;
				}

				.row > .off-10-large {
					margin-left: 83.33333%;
				}

				.row > .col-11-large {
					width: 91.66667%;
				}

				.row > .off-11-large {
					margin-left: 91.66667%;
				}

				.row > .col-12-large {
					width: 100%;
				}

				.row > .off-12-large {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row > * {
						padding: 25px 0 0 25px;
					}

					.row.gtr-uniform {
						margin-top: -25px;
					}

						.row.gtr-uniform > * {
							padding-top: 25px;
						}

				.row.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 980px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-medium {
					order: -1;
				}

				.row > .col-1-medium {
					width: 8.33333%;
				}

				.row > .off-1-medium {
					margin-left: 8.33333%;
				}

				.row > .col-2-medium {
					width: 16.66667%;
				}

				.row > .off-2-medium {
					margin-left: 16.66667%;
				}

				.row > .col-3-medium {
					width: 25%;
				}

				.row > .off-3-medium {
					margin-left: 25%;
				}

				.row > .col-4-medium {
					width: 33.33333%;
				}

				.row > .off-4-medium {
					margin-left: 33.33333%;
				}

				.row > .col-5-medium {
					width: 41.66667%;
				}

				.row > .off-5-medium {
					margin-left: 41.66667%;
				}

				.row > .col-6-medium {
					width: 50%;
				}

				.row > .off-6-medium {
					margin-left: 50%;
				}

				.row > .col-7-medium {
					width: 58.33333%;
				}

				.row > .off-7-medium {
					margin-left: 58.33333%;
				}

				.row > .col-8-medium {
					width: 66.66667%;
				}

				.row > .off-8-medium {
					margin-left: 66.66667%;
				}

				.row > .col-9-medium {
					width: 75%;
				}

				.row > .off-9-medium {
					margin-left: 75%;
				}

				.row > .col-10-medium {
					width: 83.33333%;
				}

				.row > .off-10-medium {
					margin-left: 83.33333%;
				}

				.row > .col-11-medium {
					width: 91.66667%;
				}

				.row > .off-11-medium {
					margin-left: 91.66667%;
				}

				.row > .col-12-medium {
					width: 100%;
				}

				.row > .off-12-medium {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row > * {
						padding: 25px 0 0 25px;
					}

					.row.gtr-uniform {
						margin-top: -25px;
					}

						.row.gtr-uniform > * {
							padding-top: 25px;
						}

				.row.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 736px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-small {
					order: -1;
				}

				.row > .col-1-small {
					width: 8.33333%;
				}

				.row > .off-1-small {
					margin-left: 8.33333%;
				}

				.row > .col-2-small {
					width: 16.66667%;
				}

				.row > .off-2-small {
					margin-left: 16.66667%;
				}

				.row > .col-3-small {
					width: 25%;
				}

				.row > .off-3-small {
					margin-left: 25%;
				}

				.row > .col-4-small {
					width: 33.33333%;
				}

				.row > .off-4-small {
					margin-left: 33.33333%;
				}

				.row > .col-5-small {
					width: 41.66667%;
				}

				.row > .off-5-small {
					margin-left: 41.66667%;
				}

				.row > .col-6-small {
					width: 50%;
				}

				.row > .off-6-small {
					margin-left: 50%;
				}

				.row > .col-7-small {
					width: 58.33333%;
				}

				.row > .off-7-small {
					margin-left: 58.33333%;
				}

				.row > .col-8-small {
					width: 66.66667%;
				}

				.row > .off-8-small {
					margin-left: 66.66667%;
				}

				.row > .col-9-small {
					width: 75%;
				}

				.row > .off-9-small {
					margin-left: 75%;
				}

				.row > .col-10-small {
					width: 83.33333%;
				}

				.row > .off-10-small {
					margin-left: 83.33333%;
				}

				.row > .col-11-small {
					width: 91.66667%;
				}

				.row > .off-11-small {
					margin-left: 91.66667%;
				}

				.row > .col-12-small {
					width: 45%;
				}

				.row > .off-12-small {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -3.75px;
					margin-left: -3.75px;
				}

					.row.gtr-25 > * {
						padding: 3.75px 0 0 3.75px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -3.75px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 3.75px;
						}

				.row.gtr-50 {
					margin-top: -7.5px;
					margin-left: -7.5px;
				}

					.row.gtr-50 > * {
						padding: 7.5px 0 0 7.5px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -7.5px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 7.5px;
						}

				.row {
					margin-top: -15px;
					margin-left: -15px;
				}

					.row > * {
						padding: 15px 0 0 15px;
					}

					.row.gtr-uniform {
						margin-top: -15px;
					}

						.row.gtr-uniform > * {
							padding-top: 15px;
						}

				.row.gtr-150 {
					margin-top: -22.5px;
					margin-left: -22.5px;
				}

					.row.gtr-150 > * {
						padding: 22.5px 0 0 22.5px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -22.5px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 22.5px;
						}

				.row.gtr-200 {
					margin-top: -30px;
					margin-left: -30px;
				}

					.row.gtr-200 > * {
						padding: 30px 0 0 30px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -30px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 30px;
						}

		}

/* Form */

	form label {
		color: #3e3e3e;
		font-weight: 700;
		display: block;
		margin: 0 0 0.5em 0;
	}

	form input[type=text],
	form input[type=email],
	form input[type=password],
	form select,
	form textarea {
		-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
		-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
		transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
		-webkit-appearance: none;
		display: block;
		border: 0;
		padding: 0.75em;
		font-size: 1em;
		border-radius: 8px;
		border: solid 1px #ddd;
		background: #fff;
		color: #bbb;
		box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
		width: 100%;
	}

		form input[type=text]:focus,
		form input[type=email]:focus,
		form input[type=password]:focus,
		form select:focus,
		form textarea:focus {
			background: #fafafa;
			box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025), inset 0px 0px 2px 1px #43bff0;
		}

	form textarea {
		height: 15em;
	}

	form .actions:last-child {
		margin-bottom: 0;
	}

	form ::-webkit-input-placeholder {
		color: #555 !important;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tr {
				border-top: solid 1px #eee;
			}

				table.default tr:first-child {
					border-top: 0;
				}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				padding: 0.5em 1em 0.5em 1em;
				font-weight: 600;
				margin: 0 0 1em 0;
			}

			table.default thead {
				background: #4f4f4f;
				color: #fff;
			}

/* Section/Article */

	/* section, article {
		margin-bottom: 3em;
	} */

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

/* Image */

	.image {
		display: inline-block;
		position: relative;
	}

		.image img {
			width: 100%;
			max-width: 350px;
			border-radius: 10%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			/* margin: 0 0 2em 0; */
			transition: .5s ease;
		}

		/* .image.featured:hover {
			visibility: hidden;
		} */

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}
		
		.image-spare {
			width: 80%;
			border-radius: 50%;
			max-width: 350px;
		}

	#image-spare-remove-mobile {
		display: none;
	}

	#desktopAboutMeImg {
		display: none;
	}

/* List */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

	ol {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

/* Social */

	ul.social {
		cursor: default;
		margin: 0;
		list-style: none;
		padding-left: 0;
	}

		ul.social li {
			position: relative;
			display: inline-block;
			margin: 0.25em;
			top: 0;
			padding-left: 0;
		}

			ul.social li a {
				-moz-transition: top .2s ease-in-out;
				-webkit-transition: top .2s ease-in-out;
				-ms-transition: top .2s ease-in-out;
				transition: top .2s ease-in-out;
				display: block;
				width: 48px;
				height: 48px;
				border-radius: 6px;
				top: 0;
				position: relative;
			}

				ul.social li a:before {
					background-image: url("images/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("images/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("images/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("images/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					-moz-transition: background-color .2s ease-in-out;
					-webkit-transition: background-color .2s ease-in-out;
					-ms-transition: background-color .2s ease-in-out;
					transition: background-color .2s ease-in-out;
					background-color: #444;
					border-radius: 6px;
					box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
					color: #2E2E2E !important;
					display: block;
					font-size: 26px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					outline: 0;
					overflow: hidden;
					text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
					width: 48px;
				}

				ul.social li a.fa-twitter {
					background-color: #2DAAE4;
				}

				ul.social li a.fa-facebook-f {
					background-color: #3C5A98;
				}

				ul.social li a.fa-dribbble {
					background-color: #C4376B;
				}

				ul.social li a.fa-linkedin-in {
					background-color: #006599;
				}

				ul.social li a.fa-tumblr {
					background-color: #51718A;
				}

				ul.social li a.fa-google-plus {
					background-color: #DA2713;
				}

				ul.social li a.fa-github {
					background-color: #FAFAFA;
				}

				ul.social li a.fa-rss {
					background-color: #F2600B;
				}

				ul.social li a.fa-instagram {
					background-color: #E0D7C8;
				}

				ul.social li a.fa-foursquare {
					background-color: #39A3D4;
				}

				ul.social li a.fa-skype {
					background-color: #10BEF1;
				}

				ul.social li a.fa-soundcloud {
					background-color: #FE5419;
				}

				ul.social li a.fa-youtube {
					background-color: #BF2E25;
				}

				ul.social li a.fa-blogger {
					background-color: #FF6501;
				}

				ul.social li a.fa-flickr {
					background-color: #0062DB;
				}

				ul.social li a.fa-vimeo {
					background-color: #4C8AB0;
				}

				ul.social li a:hover {
					top: -5px;
				}

					ul.social li a:hover:before {
						background-color: transparent;
					}

/* Actions */

	ul.actions {
		list-style: none;
		padding-left: 0;
	}

		ul.actions li {
			display: inline-block;
			margin: 0 0 0 1em;
			padding-left: 0;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

/* Box */

	.box {
		background: #fff;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
		text-align: center;
		/* padding: 2em; */
		border-radius: 6px;
	}

		.box.style1 {
			padding: 3em 2em 3.5em 2em;
		}

			.box.style1 h3 {
				margin-bottom: 0.5em;
			}

		.box.style2 h3 {
			margin-bottom: 0.25em;
		}

		/* .box.style2 .image {
			position: relative;
			left: 2em;
			top: 2em;
			margin: -4em 0 0 -4em;
			width: auto;
		}  */

/* Icons */

	.icon {
		text-decoration: none;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon:before {
			font-size: 1.25em;
		}

		.icon > .label {
			display: none;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

		.icon.featured {
			color: #EA8A95;
			display: block;
			margin: 0 0 1.5em 0;
			cursor: default;
		}

			.icon.featured:before {
				font-size: 6em;
			}

/* Wrappers */

	.wrapper {
		background-image: url("images/bg.png");
		/* box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1); */
		/* padding: 8em 0 8em 0; */
		text-align: center;
	}
		/* Portfolio Top */
		.wrapper.style1 {
			background-image: none;
			background-color: #fff;
			padding: 2em 0 0 0;
			color: rgb(37, 37, 37);
			font-size: 30px;
		}
		/* Portfolio */
		.wrapper.style2 {
			background-image: none;
			background-color: #fff;
			color: rgb(3, 3, 3);
			padding: 0.5em 0 2em 0;
		}
		/* Portfolio Footer */
		.wrapper.style3 {
			background-image: none;
			background-color: #252525;
			color: rgb(255, 255, 255);
			padding: 1em 0 1em 0;
			font-size: 12px;
		}
		/* About Top */
		.wrapper.style4 {
			background-image: none;
			background-color: #fff;
			padding: 4.5em 0 0em 0;
			color: rgb(37, 37, 37);
		}
		/* Awards & Achievements */
		.wrapper.style5 {
			background-image: none;
			background-color: #fff;
			color: rgb(3, 3, 3);
			padding: 4em 0 5em 0;
		}

		.wrapper.style6 {
			background-image: none;
			background-color: #fff;
			color: rgb(3, 3, 3);
			padding: 0em 0 5em 0;
		}

		.wrapper.style7 {
			background-image: none;
			background-color: #fff;
			color: rgb(3, 3, 3);
			padding: 0em 0 6em 0;
		}

		/* Styles 8-10 are used for project pages */
		/* Style 8 is for Project intro (header, then a brief: info, problem, solution) */
		.wrapper.style8 {
			background-image: none;
			background-color: #fff;
			color: rgb(3, 3, 3);
			padding: 0em 0 3em 0;
		}
		/* End of project page styles */

			.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6, .wrapper.style2 h6 {
				color: #fff;
			}

			.wrapper.style2 form input[type=text],
			.wrapper.style2 form input[type=password],
			.wrapper.style2 form select,
			.wrapper.style2 form textarea {
				border: none;
				background: #282828;
			}

				.wrapper.style2 form input[type=text]:focus,
				.wrapper.style2 form input[type=password]:focus,
				.wrapper.style2 form select:focus,
				.wrapper.style2 form textarea:focus {
					background: #252525;
				}


	#intro-para {
		margin: 0 auto;
		margin-bottom: 1em;
		font-weight: 600;
		text-align: center;
		width: 90%;
		/* font-size: 3vw !important; */
	}

	#about-me-para {
		margin: 0 auto;
		margin-bottom: 1em;
		font-weight: 300;
		text-align: left;
		font-size: 19px;
	}

	#about-me-title {
		margin: 0 auto;
		margin-bottom: 0.5em;
		font-weight: 600;
		text-align: left;
		font-size: 0.75 em;
	}

	#about-me-text-area {
	    margin: 0  30px 10px;
		width: 85%;
		margin-top: 0.5em;
		font-size: 2em;
	}

	#spare-time-title {
		margin: 0 auto;
		margin-bottom: 0.5em;
		font-weight: 600;
		text-align: center;
		font-size: 30px;
	}

	#spare-time-para {
		margin: 0 auto;
		margin-bottom: 1em;
		font-weight: 300;
		text-align: center;
		font-size: 19px;
	}

	#awards-title {
		margin: 0 auto;
		margin-bottom: 0.5em;
		font-weight: 600;
		text-align: left;
		font-size: 1.1em !important;
	}

	#awards-sub-title {
		margin: 0 auto;
		font-weight: 600;
		text-align: left;
		font-size: 1.1em !important;
	}

	#awards-para {
		margin: 0 auto;
		margin-bottom: 1em;
		font-weight: 300;
		text-align: left;
		font-size: 1em !important;
	}

	#contact-para {
		margin: 0 auto;
		font-weight: 600;
		text-align: center;
		font-size: 1em !important;
		padding-bottom: 2em;
	}

	#awards-container {
		width: 75%;
		margin-top: 1em;
	}

	#contact-container {
		width: 70%;
	}

	/* Below styling is for project pages (standard for all...) */
	#brief-sub-title-area {
		width: 20%;
		text-align: left;
	}

	#brief-para-area {
		width: 80%;
	}

	#project-title {
		margin: 0 auto;
		margin-bottom: 1em;
		font-weight: 600;
		text-align: center;
		font-size: 80px;
	}

	#brief-sub-title {
		margin: 0 auto;
		font-weight: 600;
		text-align: left;
		font-size: 24px;
	}

	#brief-para {
		margin: 0 auto;
		margin-bottom: 1em;
		font-weight: 300;
		text-align: left;
		font-size: 19px;
		text-align: justify;
	}

	#detail-text-area-left {
		width: 45%;
		text-align: justify;
		/* padding-right: 2em; */
	}

	#detail-text-area-right {
		width: 45%;
		text-align: justify;
		text-align-last: right;
		/* padding-left: 2em; */
	}

	#detail-title {
		margin: 0 auto;
		margin-bottom: 2em;
		font-weight: 600;
		text-align: center;
		font-size: 50px;
	}

	#skills-title {
		margin: 0 auto;
		margin-bottom: 2em;
		margin-top: 1em;
		font-weight: 600;
		text-align: center;
		font-size: 50px;
	}

	#detail-sub-title {
		margin: 0 auto;
		font-weight: 600;
		text-align: left;
		font-size: 24px;
		margin-bottom: 0.5em;
	}

	#detail-para-left {
		margin: 0 auto;
		margin-bottom: 0.5em;
		font-weight: 300;
		text-align: left;
		font-size: 19px;
		text-align: justify;
		padding-right: 1em;
	}

	#detail-para-left a {
		color: inherit;
	}

	#detail-para-right {
		margin: 0 auto;
		margin-bottom: 0.5em;
		font-weight: 300;
		text-align: left;
		font-size: 19px;
		text-align: justify;
		padding-left: 1em;
	}

	#detail-para-right a {
		color: inherit;
	}

	#detail-images-area-left {
		position: relative;
		width: 55%;
	}

	#detail-images-area-right {
		position: relative;
		width: 55%;
	}

	#skill-para {
		margin: 0 auto;
		margin-bottom: 1em;
		font-weight: 300;
		text-align: left;
		font-size: 19px;
		text-align: right;
	}

	#coming-soon {
		height: 100vh;
		padding: 20em;
		text-align: center;
	}

	#coming-soon-info {
		font-size: 30px;
	}

	/* End of project page styles */

/* Nav */

	#nav {
		background-color: #fff;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
		height: 5em;
		line-height: 5.2em;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
	}

		#nav ul {
			margin-bottom: 0;
			list-style: none;
			padding-left: 0;
		}

		#nav li {
			display: inline-block;
			padding-left: 0;
		}

		#nav a {
			-moz-transition: background-color .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out;
			transition: background-color .2s ease-in-out;
			position: relative;
			display: block;
			text-decoration: none;
			outline: 0;
			border-radius: 8px;
			/* color: rgb(0, 0, 0); */
			height: 2.5em;
			line-height: 2.5em;
			padding: 0 1.25em;
		}

			#nav a:hover {
				/* color: rgb(0, 0, 0); */
				background: #f7f7f7;
			}

			#nav a.active {
				background: #484848;
			}

				#nav a.active:before {
					content: '';
					display: block;
					position: absolute;
					bottom: -0.6em;
					left: 50%;
					margin-left: -0.75em;
					border-left: solid 0.75em transparent;
					border-right: solid 0.75em transparent;
					border-top: solid 0.6em #282828;
				}

	.logo-wrap {
		width: 60%;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		position: absolute; 
  		left: 0; 
  		right: 0; 
  		margin-left: auto; 
  		margin-right: auto; 
	}

	.nav-items {
		width: 47%;
	}

	#nav-items-box {
		text-align: left;
	}

	
	#portfolio-title, #about-title, #cv-title {
		display: none !important;
	}

	.nav-social {
		width: 47%;
	}

	#nav-social-box {
		display: none;
	}

	#side-nav-button {
		color: rgb(54, 54, 54);
		font-size: 1.8em !important;
    	padding-left: 0.2em !important;
	}

	#side-nav-button:hover {
		color: rgb(54, 54, 54) !important;
	}

	#name {
		color: rgb(54, 54, 54);
	}

	/* #about-title, #portfolio-title, #cv-title, #instagram-icon, #linked-in-icon {
		color: rgb(0, 0, 0);
	} */

	#linked-in-icon {
		color: rgb(0, 119, 181);
	}

	#instagram-icon {
		color: rgb(221, 42, 123);
	}

	#instagram-icon:hover {
		color: rgb(221, 42, 123) !important;
		background: #f7f7f7;
	}

	#linked-in-icon:hover {
		color: rgb(0, 119, 181) !important;
		background: #f7f7f7;
	}

	#name:hover, #about-title:hover, #cv-title:hover, #portfolio-title:hover {
		color: rgb(0, 0, 0) !important;
		background: #f7f7f7;
	}

/* Side Nav - MOBILE ONLY */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(54, 54, 54);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:center;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 1.6em;
	color: #eee;
	display: block;
	transition: 0.3s;
  
  }
  
  .sidenav a:hover{
	color: rgb(54, 54, 54) !important;
	background: #eee;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

/* Articles */

	body > article {
		margin-bottom: 0;
	}

	#top {
		/* padding: 10em 0 10em 0; */
		text-align: left;
	}

		/* #top .image {
			border-radius: 100%;
			width: 20em;
			height: 20em;
			margin: 0;
		}

			#top .image img {
				border-radius: 100%;
			} */

		#top h1 {
			margin-top: 0.35em;
		}

		#top p {
			/* font-size: 1.5em; */
			line-height: 1.5em;
		}

			#top p a {
				color: inherit;
			}

	#contact footer {
		font-size: 0.9em;
	}

	.middle {
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 0;
		height: 100%;
		pointer-events: none;
		padding: calc(25px + 13%) 10% 0 10%;
 	  }
	  
	  .box.style2:hover .image {
		opacity: 0.5;
	  }
	  
	  .box.style2:hover .middle {
		opacity: 1;
	  }
	  
	  .hero-text-title {
		color: rgb(0, 0, 0);
		font-size: 3.5vw;
		font-weight: 600;
		padding: 8px 0;
		text-align: center;
	  }

	  .hero-text-body {
		color: rgb(0, 0, 0);
		font-size: 2.4vw;
		line-height: 3vw;
		padding: 8px 0;
		text-align: center;
	  }

/* Copyright */

	#copyright {
		color: rgb(218, 218, 218);
		font-size: 1em;
		line-height: 6em;
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		vertical-align: baseline;
		top: 50%;
	}

		#copyright li {
			display: inline-block;
			border-left: solid 1px rgba(0, 0, 0, 0.5);
			box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
			padding: 0 0 0 1em;
			margin: 0 0 0 1em;
		}

			#copyright li:first-child {
				border: 0;
				box-shadow: none;
				padding-left: 0;
				margin-left: 0;
			}

		#copyright a {
			-moz-transition: color .2s ease-in-out;
			-webkit-transition: color .2s ease-in-out;
			-ms-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
			color: inherit;
		}

			#copyright a:hover {
				color: #777;
			}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body {
				font-size: 11pt;
			}

			input, textarea, select {
				font-size: 11pt;
			}

			header {
				margin: 0 0 4em 0;
			}

		/* Wrappers */

			.wrapper {
				padding: 5em 0 5em 0;
				text-align: center;
			}

				.wrapper.style4 .row-special {
					margin: 2em 0 0 0;
					padding: 2em 0 2em 0;
				}

		/* Articles */

			/* #top {
				padding: 8em 0;
			} */

				#top .image {
					width: 24em;
					height: 24em;
					margin: 0;
				}

	}

/* Medium */

	@media screen and (max-width: 980px) {

		/* Articles */

			#top {
				text-align: center;
				padding: 0 0;
			}

				#top .image {
					margin: 2em 0 0 0;
				}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			body {
				padding-top: 44px;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 10pt;
				letter-spacing: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				font-size: 1.25em;
				margin: 0 0 0.4em 0;
			}

			h1 {
				font-size: 2.25em;
				line-height: 1.25em;
			}

			header {
				margin: 0 0 2em 0;
			}

				header > p {
					font-size: 1.25em;
				}

			/* footer {
				margin: 2.5em 0 0 0;
			} */

				footer > p {
					font-size: 1.25em;
				}

			hr {
				margin: 1.5em 0 2em 0;
			}

		/* Section/Article */

			section, article {
				clear: both;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				text-align: center;
				font-size: 1.2em;
				width: 100%;
				padding: 1em 0 1em 0;
			}

				input[type="button"].large,
				input[type="submit"].large,
				input[type="reset"].large,
				button.large,
				.button.large {
					font-size: 1.2em;
					letter-spacing: 0;
				}

		/* Social */

			ul.social {
				padding: 1em 0.5em 0 0.5em;
			}

				ul.social li {
					margin: 0.5em 0.5em 0.5em 0.5em;
				}

					ul.social li a {
						top: 0 !important;
					}

						ul.social li a:before {
							background-color: transparent !important;
						}

		/* Actions */

			ul.actions {
				margin: 0;
			}

				ul.actions li {
					display: block;
					margin: 15px 0 0 0;
				}

					ul.actions li:first-child {
						margin-top: 0;
					}

		/* Box */

			/* .box {
				padding: 30px 20px 30px 20px;
				margin: 0 0 20px 0 !important;
			} */

				.box h3 {
					margin-bottom: 0.25em;
				}

				.box .image.centered {
					margin-bottom: 1em;
				}

				/* .box .image.featured {
					position: relative;
					left: 20px;
					top: 20px;
					margin: -50px 0 50px -40px;
					width: 113%;
				} */

				.box.style1 {
					max-width: 32em;
					margin-left: auto !important;
					margin-right: auto !important;
				}

				.box.style2 {
					/* max-width: 32em;
					max-height: 21.7em; */
					margin-left: auto !important;
					margin-right: auto !important;
					max-width: 400px;
				}

		/* Wrappers */

			.wrapper {
				padding: 3em 0;
				text-align: center;
			}

		/* Nav */

			#nav {
				height: 44px;
				line-height: 44px;
			}

				#nav a {
					padding: 0 0.75em;
					height: inherit;
					line-height: inherit;
					border-radius: 0;
					font-size: 1.2em;
					font-weight: 100;
				}

					#nav a:hover {
						background-color: transparent;
					}

		/* Articles */

			#top {
				padding: 0.7em 0 0 0;
			}

				#top .image {
					width: 85%;
					height: 100%;
					/* margin-top: 0.5 em; */
				}

				#top p {
					font-size: 0.55em;
				}

			#contact footer {
				margin: 0;
			}

		/* Copyright */

			#copyright {
				font-size: 1em;
				margin: 0;
			}

				#copyright li {
					display: block;
					margin: 1em 0 0 0;
					padding: 0;
					box-shadow: none;
					border-left: 0;
				}

					#copyright li:first-child {
						margin-top: 0;
					}

	}

/* Mobile */
	@media screen and (max-width: 570px) {
		.row > .col-12-small {
			width: 85%;
		}

		.box.style2 {
			margin-bottom: 20px !important;
		}

		.hero-text-body {
			font-size: 4.5vw !important;
			line-height: 6vw !important;
		}

		.hero-text-title {
			font-size: 6vw !important;
		}

		#intro-para {
			font-size: 4.2vw !important;
		}
	}


/* Galaxy Fold Small */
	@media screen and (max-width: 327px) {

		/* My Name Logo */
		#name {
			font-size: 80% !important;
		}

	}

	/* Page Transitions */
	.transition-fade-portfolio {
		opacity: 1;
		transition: 500ms;
		transform: translateX(0);
		transform-origin: left;
	}

	html.is-animating .transition-fade-portfolio {
		opacity: 0;
		transform: translateX(-30%);
	}

	html.is-leaving .transition-fade-portfolio {
		transform: translateX(-30%);
		opacity: 0;
	}

	.transition-fade-about {
		opacity: 1;
		transition: 500ms;
		transform: translateX(0);
		transform-origin: left;
	}

	html.is-animating .transition-fade-about {
		opacity: 0;
		transform: translateX(30%);
	}

	html.is-leaving .transition-fade-about {
		transform: translateX(30%);
		opacity: 0;
	}

	.transition-fade-project {
		opacity: 1;
		transition: 500ms;
		transform: translateY(0);
		transform-origin: bottom;
	}

	html.is-animating .transition-fade-project {
		opacity: 0;
		transform: translateY(30%);
	}

	html.is-leaving .transition-fade-project {
		transform: translateY(30%);
		opacity: 0;
	}


	/* Email Links */
	.mailto-link {
		position: relative;
		padding: 8px 0;
	}
	.mailto-message {
		top: 1px;
		left: 50%;
		margin-bottom: -5px;
		transform: translate(-50%, -100%);
		position: absolute;
		display: none;
		width: auto;
		white-space: nowrap;
		font-size: 12px;
		background-color: black;
		color: white;
		padding: 2px 6px;
		border-radius: 2px;
		/* &:after,
		&:before {
			content: '';
		}
		&:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-top-color: #000000;
			border-width: 4px;
			margin-left: -4px;
		} */
	}
	.mailto-link:hover .mailto-message,
	.mailto-link:focus .mailto-message,
	.mailto-link:focus-within .mailto-message {
		display: block;
	}


	/* For the scroll-animated videos */
	#set-height {
		height: 1600px;
		margin-bottom: 3em;
	}

	canvas {
		max-width: 100%;
		max-height: 100vh;
		left: 5%;
		position: sticky;
		top: 7%;
	}


	/* For embedded videos */
	video {
		/* position: relative; */
		/* left: 15%; */
		width: 100%;
		margin-bottom: 5em;
	}

	#video-info {
		width: 100%;
		margin: 0 auto;
		font-weight: 300;
		text-align: left;
		font-size: 19px;
		text-align: justify;
		color: rgb(112, 112, 112);
	}


	/* For Slideshows (Multiple images to click through) ------------------------ */
	/* Slideshow container */
.slideshow-container {
	/* max-width: 1000px; */
	/* position: relative; */
	margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-decoration: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

  .prev {
	right: 90%;
	border-radius: 0 3px 3px 0;;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #000000;
	font-size: 15px;
	bottom: 7%;
	width: 100%;
	text-align: center;
	/* background-color: rgb(0 0 0 / 5%); */
  }
  
  /* Number text (1/3 etc)
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  } */
  
  #detail-row {
	  margin-bottom: 1em;
  }

  /* The dots/bullets/indicators */
  .dot1, .dot2, .dot3 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot1:hover, .dot2:hover, .dot3:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
/* End of slideshow Section ----------------- */

/* For documentation button */
  
.center {
	width: 480px;
	height: 60px;
	position: relative;
	left: 30%;
  }
  
  .btn {
	width: 480px;
	height: 60px;
	cursor: pointer;
	background: transparent;
	border: 1px solid #000000;
	outline: none;
	transition: 1s ease-in-out;
  }
  
  svg {
	position: absolute;
	left: 0;
	top: 0;
	fill: none;
	stroke: #fff;
	stroke-dasharray: 150 1080;
	/* Note - 1080 (above) corresponds to 2*480px (2*width) + 2*60px (2*height)*/
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
  }
  
  .btn:hover {
	transition: 1s ease-in-out;
	background: #43B3E0;
  }
  
  .btn:hover svg {
	stroke-dashoffset: -1080;
  }
  
  .btn span {
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: 600;
  }

  #documentation-button-area {
	  margin-bottom: 6em;
	  margin-top: 5em;
  }

  /* CSS for the page loader */
  .loader-wrapper {
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	position: sticky;
	top: 7%;
	left: 0;
	background-color: #fff;
  }

  .loader-box {
	width: 30%;
	padding-top: 30%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
  }
  
  .loader-box .b {
	border-radius: 50%;
	border-left: 2px solid;
	border-right: 2px solid;
	border-top: 2px solid transparent !important;
	border-bottom: 2px solid transparent !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ro 2s infinite;
  }
  
  .loader-box .b1 {
	border-color: #000000;
	width: 50%;
	height: 50%;
  }
  
  .loader-box .b2 {
	border-color: #000000;
	width: 41.66%;
	height: 41.66%;
	animation-delay: 0.2s;
  }
  
  .loader-box .b3 {
	border-color: #000000;
	width: 33.33%;
	height: 33.33%;
	animation-delay: 0.4s;
  }
  
  .loader-box .b4 {
	border-color: #000000;
	width: 25%;
	height: 25%;
	animation-delay: 0.6s;
  }
  
  @keyframes ro {
	0% {
	  transform: translate(-50%, -50%) rotate(0deg);
	}
	
	50% {
	  transform: translate(-50%, -50%) rotate(-180deg);
	}
	
	100% {
	  transform: translate(-50%, -50%) rotate(0deg);
	}
  }